body
{
    background-color: #f7fcbe;
}
li{
    list-style-type: none;
  }
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 40px 100px;
}

.titulo {
    font-family: 'Roboto', sans-serif; 
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;

    text-align: center;
}

.capsula-game {
    background-color: #f1f8a4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow:         8px 4px 4px 0px rgba(51, 53, 55, 0.47);
}

.card {
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    box-sizing: border-box;

    width: 117px;
    height: 146px;

    margin: 16px;
    padding: 20px 10px ;  
    box-shadow:  8px 4px 4px 0px rgba(51, 53, 55, 0.47);

}

.card img {
    width: 100%;
}

@media (max-width: 600px) 
{
    .title {
        font-size: 36px;}
}